@font-face {
  font-family: "Trajan_Pro_Bold";
  src: url("../fonts/Trajan_Pro_Bold.ttf");
}

body {
  /*font-family: 'Montserrat', sans-serif;*/
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 200;
}

#more,
#more1,
#more2,
#more3,
#more4,
#more5 {
  display: none;
}

#more6,
#more7,
#more8,
#more9,
#more10,
#more11 {
  display: none;
}

#myBtn0,
#myBtn1,
#myBtn2,
#myBtn3,
#myBtn4 {
  background-color: transparent;
  font-size: 14px;
  margin: 0;
  border-radius: 0;
  width: fit-content;
  padding-left: 10px;
}
#myBtn5,
#myBtn6,
#myBtn7,
#myBtn8,
#myBtn9,
#myBtn10,
#myBtn11 {
  background-color: transparent;
  font-size: 14px;
  margin: 0;
  border-radius: 0;
  width: fit-content;
  padding-left: 10px;
  color: #fff;
}

#amenitie {
  /*background: #f8f7f3;*/
  padding: 70px 0px 40px;
}
#amenitie .nav > li > a:hover {
  background: #722b91;
  color: #fff !important;
}
.tab-content {
  text-align: center;
}

.toll1 i.fa.fa-whatsapp {
  font-size: 24px;
}

.toll1 {
  /*background-image: linear-gradient(to bottom, #a92483, #942982, #7f2c7f, #6a2d7a, #562d73);*/
  background: #3ab71b;
  color: #fff;
  right: 0;
  padding: 6px 5px;
  position: absolute;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  top: 50px;
  border-radius: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  /* width: 200px; */
  z-index: 20;
  cursor: pointer;
  -webkit-animation: contactno 1s infinite;
  -moz-animation: contactno 1s infinite;
  -o-animation: contactno 1s infinite;
  animation: contactno 1s infinite;
}

#call-number1 {
  /* font-family: 'Open Sans', Arial, sans-serif; */
  position: fixed;
  vertical-align: top;
  /* padding: 0 0 24px 0px; */
  right: 0;
  top: 49%;
  /* width: 280px; */
  z-index: 999;
}

#call-number1 .content1 {
  position: absolute;
  top: 51px;
  color: #f8de31;
  background-color: rgb(79 33 97 / 74%);
  display: inline-block;
  width: 239px;
  margin: 0 0 0 -8px;
  padding: 0 23px 0;
  vertical-align: top;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-box-shadow: 0 1px 3px rgb(0 0 0 / 33%);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.33);
  box-shadow: 0 1px 3px rgb(0 0 0 / 33%);
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

#call-number1 p {
  font-weight: bold;
  font-size: 16px;
  margin: 0px 0 6px;
  color: #fff;
}

#amenitie .nav-tabs > li.active > a,
amenities .nav-tabs > li.active > a:hover,
amenities .nav-tabs > li.active > a:focus {
  background-color: #722b91;
  border: none;
  border-bottom-color: transparent;
  cursor: default;
  border-radius: 60px;
  margin-bottom: 20px;
  color: #fff !important;
}
#amenitie .nav > li > a {
  text-align: center;
  color: #be1d7a !important;
  padding: 6px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  border: 0.5px solid #ced1d4;
  border-radius: 60px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  line-height: 30px;
  margin-bottom: 20px;
}
#amenitie .nav-tabs {
  border-bottom: none;
  margin-bottom: 30px;
}

#amenities .nav-tabs > li.active > a,
#amenities .nav-tabs > li.active > a:hover,
#amenities .nav-tabs > li.active > a:focus {
  color: #555;
  background-color: #000;
  border: 1px solid #000;
  border-bottom-color: transparent;
  cursor: default;
  color: #fff !important;
}
#amenities .nav-tabs {
  border-bottom: none;
  text-align: center;
  margin-top: 65px;
}
#amenities .nav > li > a {
  font-family: "Lato", sans-serif;
  color: #000 !important;
  padding: 8px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  background-color: #eee;
  border-radius: 0;
  font-weight: 800;
}
.clearHeader {
  width: 130px;
  transition: all 0.6s ease;
}
.darkHeader {
  width: 100px;
  transition: all 0.6s ease;
}
.navbar-main {
  height: 70px !important;
  transition: all 0.6s ease;
}
.navbar-small {
  height: 80px;
  transition: all 0.6s ease;
}
.current a.smoothScroll {
  border-bottom: 2px solid #000;
}
.navbar-header {
  position: fixed;
}
ul.nav.navbar-nav {
  /*float: right;*/
  position: relative;
  left: 185px;
}
.locations-left {
  height: 524px;
  overflow-y: auto;
}
.para-logo {
  position: absolute;
  right: 48px;
  top: 0;
  /* width: 100px; */
}
.para-logo img {
  width: 174px;
  margin-top: 12px;
}
.features-overlay h3 {
  color: #ffffff;
  /* margin-bottom: 0px; */
}
/*------------------------------*/
#features {
  background: url(../img/features.webp);
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 970px; */
  background-attachment: fixed;
}
.features-overlay {
  background: #00000070;
  /* height: 970px; */
  padding: 40px 0px;
}
.features-inner {
  color: #fff;
  margin-bottom: 25px;
  padding-bottom: 10px;
  /*border-bottom: 1px solid #ffffff6e;
    width: 400px;*/
}
.features-inner ul {
  padding-left: 13px;
}
.ame-copy {
  text-align: center;
  font-size: 18px !important;
  color: #ed1557 !important;
  margin-bottom: 40px;
  text-transform: uppercase;
}
#aboutproject {
  background: url(../img/aboutgroup.webp);
  background-repeat: no-repeat;
  /* height: 550px; */
  background-size: cover;
  background-attachment: fixed;
}
.aboutproject-overlay {
  /* height: 550px; */
  padding-bottom: 3rem;
  background: #000000c9;
  text-align: center;
}
.near-location h3 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
}
.near-location {
  padding-bottom: 25px;
}
.near-location ul {
  padding-left: 0px;
}
span.video-btn {
  position: fixed;
  right: 0;
  bottom: 45%;
  color: #7d1743;
  font-weight: 500;
  width: 180px;
  text-align: center;
  font-style: italic;
}
.certificate-modal .close {
  padding: 0 12px;
}
.rera-certificate {
  cursor: pointer;
}
.carousel-caption p {
  font-weight: 400;
  padding-top: 5px;
}
.navbar-default .navbar-nav > li > a {
  font-weight: 600;
  color: #712a92 !important;
}
.config-inner {
  text-align: center;
  font-weight: normal;
  padding: 10px;
  margin-top: 20px;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(212, 210, 212, 1);
  -moz-box-shadow: 0px 0px 7px 0px rgba(212, 210, 212, 1);
  box-shadow: 0px 0px 7px 0px rgba(212, 210, 212, 1);
  border-radius: 30px 0px 30px 0px;
}
.config-price {
  background: #be1d7a;
  width: 75%;
  margin: 15px auto;
  padding: 8px;
  text-transform: uppercase;
  border-radius: 15px 0px;
}
.top-padding {
  padding-top: 30px;
}
/*==========================================================================================================*/
#virtual-Walkthrough {
  /*background: #f8f7f3;*/
  padding: 70px 0px 40px;
}
#virtual-Walkthrough .nav > li > a:hover {
  background: #722b91;
  color: #fff !important;
}
/*.location-bg {
    background: #f8f7f3;
}*/

#about-dev p {
  color: rgb(80 80 80);
  visibility: visible;
  animation-name: fadeInUp;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.6;
}
#about-dev {
  background: #f8f7f3;
  padding: 50px 0px;
}
.section-heading {
  text-align: center;
  color: #712c91;
  margin: 30px 0px 40px;
  text-transform: uppercase;
  font-family: "Trajan_Pro_Bold";
}
/*Why work with us*/
.invest-section {
  margin: 0;
  padding: 20px 0px 10px;
  /*   background: #f3f3f3;*/
}
section#slidernew {
  margin-bottom: 60px;
}
.invest-section h2 {
  /*margin: 0 0 30px 0;
    padding: 10px 0 0 0;
    font-size: 44px;
    color: #6a203c;
    text-align: center;
    position: relative;*/
}

ul.investlist {
  margin: 0;
  padding: 0;
  text-align: center;
}
ul.investlist li {
  width: 100px;
  margin: 0 40px;
  padding: 0;
  display: inline-block;
  list-style: none;
  color: #000;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  vertical-align: top;
}
ul.investlist li img {
  margin: 0 0 20px 0;
  padding: 0;
}
ul.investlist li span {
  font-size: 16px;
  font-weight: 600;
  color: #58585a;
  display: block;
  margin: 0 0 10px 0;
  padding: 0;
  /*font-family: 'tt_commons_boldbold', Helvetica, Arial, sans-serif;*/
  text-align: center;
}

/*End of*/

/* --- testimonial --- */
.se-testimonial {
  margin: 0;
  padding: 50px 0;
  background: #f8f7f3;
}
.se-testimonial h2 {
  /*margin: 0 0 30px 0;
    padding: 0;
    font-size: 44px;
    color: #6a203c;
    text-align: center;
    position: relative;*/
}
.se-testimonial h4 {
  margin: 0 0 20px 0;
  padding: 0;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
  position: relative;
  font-weight: 400;
  font-style: italic;
}

.quotes {
  margin: 0;
  padding: 0;
  position: relative;
}
.quotes .slick-slide {
  margin: 0 20px;
  padding: 40px 0 50px 0;
  height: 52%;
}
.quotes .clientbox {
  margin: 0;
  padding: 0;
  position: relative;
  background: #fff;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  /* transition: 0s; */
  height: 220px;
}
.quotes .clientbox:before {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 26px;
  height: 21px;
  background: url(../img/quote1.webp) no-repeat;
  content: "";
  opacity: 1;
}
.quotes .clientbox:hover:before {
  position: absolute;
  top: -30px;
  left: 50%;
  width: 70px;
  height: 56px;
  transform: translate(-50%);
  background: url(../img/quote2.webp) no-repeat;
  content: "";
  opacity: 1;
}
.quotes .clientbox p {
  transition: 0s;
  font-size: 15px;
  font-weight: 500;
}
.quotes .clientbox.txt {
}
.quotes .clientbox.txt .txtinn {
  padding: 40px 30px 80px 30px;
  text-align: center;
  transition: 0s;
}
.quotes .clientbox.video {
  padding: 0;
  color: #fff;
  background: #000;
}
.quotes .clientbox.video img {
  opacity: 0.5;
}
.quotes .clientbox.video .pic img,
.quotes .clientbox.video a.playbtn img {
  opacity: 1;
}
.quotes .clientbox.video .playbtn {
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.quotes .clientbox .name {
  position: absolute;
  bottom: 35px;
  left: 20px;
  font-size: 14px;
  text-align: left;
  font-weight: 500;
}
.quotes .clientbox .name span {
  display: block;
  color: #d2b77f;
}
.quotes .clientbox .pic {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 50%;
  padding: 5px;
  border: solid 1px #d2b77f;
}
.quotes .clientbox .pic img {
  width: 70px;
  border-radius: 50%;
}
.quotes .clientbox .pic img:nth-child(2) {
  display: none;
}
.quotes .clientbox:hover .pic img:nth-child(1) {
  display: none;
}
.quotes .clientbox:hover .pic img:nth-child(2) {
  display: inline-block;
}
.quotes .clientbox:hover.txt {
  color: #fff !important;
  background: #6a203c;
}
.quotes .clientbox:hover .pic {
  border: solid 1px #fff;
}
.slick-dots li button:before {
  color: #fff0;
}
.quotes .slick-dots li button {
  width: 30px;
  height: 4px;
  border-radius: 0;
}
.quotes .slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 4px;
  background: #8b8f96;
  border-radius: 0;
  color: #fff0;
}
.quotes .slick-dots li.slick-active button:before {
  opacity: 1;
  background: #6a203c;
  color: #fff0;
}
.quotes .slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 10px;
  padding: 0;
  cursor: pointer;
}
/*end of testimonial*/

/*footer Menu*/
.footermenu {
  /*margin: 0 0 15px 0;
    padding: 0 0 15px 0;
    border-bottom: solid 1px #1c1a16;*/
}
.footermenu .footerlinks {
  /* width: 80%; */
  /* float: none; */
  text-align: center;
  margin: 20px;
  padding: 10px;
  font-weight: 900;
  border-bottom: 1px solid #000;
}
.footermenu .sociallinks {
  width: 20%;
  float: left;
  margin: 0;
  padding: 0;
  text-align: right;
}
.footermenu .footerlinks a {
  display: inline-block;
  margin: 0 30px 0 0;
  padding: 0;
  color: #1c1a16;
  font-size: 14px;
  font-family: "tt_commons_boldbold", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
.footermenu .footerlinks a:hover {
  color: #6a203c;
}
.footermenu .sociallinks a {
  display: inline-block;
  margin: 0 0 0 5px;
  padding: 0;
}
/*Ennd of footer menu*/

/*Amenity gallery*/

.photo-slider .slick-prev:before {
  display: none;
}
.photo-slider .slick-next:before {
  display: none;
}
#amenities {
  padding: 30px 0px;
}
#amenities .slick-track {
  padding: 0 0 30px 0;
}
#amenities .slick-slide {
  margin: 0;
  padding: 0;
}
#amenities .slick-slide img {
}
#amenities .slick-prev,
#amenities .slick-next {
  width: 50px;
  height: 40px;
  z-index: 1;
  top: auto;
  bottom: -50px;
  border: solid 1px #722b91;
}
#amenities .slick-prev {
  right: 100px;
  left: auto;
  background: url(../img/back.webp) no-repeat center center;
}
#amenities .slick-prev:hover {
  background: #be1d7a url(../img/back-h.webp) no-repeat center center;
}
#amenities .slick-next {
  right: 30px;
  background: url(../img/next.webp) no-repeat center center;
}
#amenities .slick-next:hover {
  background: #be1d7a url(../img/next-h.webp) no-repeat center center;
}
#amenities .slick-prev:hover,
#amenities .slick-next:hover {
  border: solid 1px #be1d7a;
}

.gathum,
.vothum {
  margin: 0;
  padding: 0;
  position: relative;
}
.gathum a,
.vothum a {
  color: #333;
  text-decoration: none;
}
.gatitle {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  margin: 0;
  padding: 5px;
  z-index: 2;
  font-weight: 600;
}
.gathum .overlay,
.gathum .vothum {
  display: none;
}
.gathum .overlay img,
.vothum .overlay img {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gathum:hover .overlay,
.vothum:hover .overlay {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
}
/*.gathum:hover .gatitle,
.vothum:hover .gatitle {
    color: #fff;
    background: transparent;
}*/
.gathum1,
.vothum {
  margin: 0;
  padding: 0;
  position: relative;
}
.gathum1 a,
.vothum a {
  color: #333;
  text-decoration: none;
}
.gatitle {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  margin: 0;
  padding: 5px;
  z-index: 2;
  font-weight: 600;
}
#amenities1 {
  padding: 30px 0px;
}
#amenities1 .slick-track {
  padding: 0 0 30px 0;
}
#amenities1 .slick-slide {
  margin: 0;
  padding: 0;
}
#amenities1 .slick-slide img {
}
#amenities1 .slick-prev,
#amenities1 .slick-next {
  width: 50px;
  height: 40px;
  z-index: 1;
  top: auto;
  bottom: -50px;
  border: solid 1px #722b91;
}
#amenities1 .slick-prev {
  right: 100px;
  left: auto;
  background: url(../img/back.webp) no-repeat center center;
}
#amenities1 .slick-prev:hover {
  background: #be1d7a url(../img/back-h.webp) no-repeat center center;
}
#amenities1 .slick-next {
  right: 30px;
  background: url(../img/next.webp) no-repeat center center;
}
#amenities1 .slick-next:hover {
  background: #be1d7a url(../img/next-h.webp) no-repeat center center;
}
#amenities1 .slick-prev:hover,
#amenities1 .slick-next:hover {
  border: solid 1px #be1d7a;
}
#amenities1 {
  padding: 30px 0px;
}
.gathum1 .overlay,
.gathum1 .vothum {
  display: none;
}
.gathum1 .overlay img,
.vothum .overlay img {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gathum1:hover .overlay,
.vothum:hover .overlay {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
}
/*.gathum1:hover .gatitle,
.vothum:hover .gatitle {
    color: #fff;
    background: transparent;
}*/
/*==============================================================================*/

/*virtual tour*/
.proj-walkthrou {
  background-color: #bb9b5d;
  text-align: center;
  color: #fff !important;
  padding: 10px 18px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  border: 0.5px solid #ced1d4;
  border-radius: 60px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  line-height: 30px;
  margin-bottom: 20px;
}
#virtual-Walkthrough .nav-tabs > li.active > a,
virtual-Walkthrough .nav-tabs > li.active > a:hover,
virtual-Walkthrough .nav-tabs > li.active > a:focus {
  background-color: #722b91;
  border: none;
  border-bottom-color: transparent;
  cursor: default;
  border-radius: 60px;
  margin-bottom: 20px;
  color: #fff !important;
}
#virtual-Walkthrough .nav > li > a {
  text-align: center;
  color: #be1d7a !important;
  padding: 6px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  border: 0.5px solid #ced1d4;
  border-radius: 60px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  line-height: 30px;
  margin-bottom: 20px;
}
#virtual-Walkthrough .nav-tabs {
  border-bottom: none;
  margin-bottom: 30px;
}

/*end of virtual tour*/
.whatsppno i.fa.fa-whatsapp {
  position: fixed;
  top: 15%;
  right: 0;
  z-index: 999;
  color: #13bb99;
  font-size: 45px;
  /* border-radius: 47px; */
  background-color: #fff;
  border-radius: 84%;
  height: 41px;
}

.mobile-bottom-holder {
  position: fixed;
  bottom: -5px;
  width: 100%;
  left: 0;
  z-index: 999;
}
.top-buffer2 {
  margin: 70px 0px;
}
.another_div {
  /* border: 2px solid #1f2a38; */
  /* border: 2px solid #1f2a38; */
  padding: 30px;
  /* box-shadow: 0px 0px 10px 0px rgb(27, 118, 108); */
  background-color: #faf5ec;
}
.projectoverview {
  text-align: center;
  margin: 5 auto;
}
.projectoverview p {
  font-size: 13px;
  font-weight: 500;
  color: #7d1844;
}
.projectoverview img {
  margin: 10px 0;
  padding: 0 0;
}
.inputCont {
  display: block !important;
  clear: both !important;
  margin-top: 15px !important;
  text-align: center !important;
  overflow: hidden !important;
}
.inputCont .form-control {
  padding: 7px;
  width: 100%;
}
#inquiryForm h4 {
  color: #fff;
  position: relative;
  text-align: center;
}

ul.highlight {
  padding: 0;
  margin: 0;
}

p.newpara {
  color: #fff;
  font-size: 16px;
}

ul.highlight li {
  color: #fff;
  font-size: 15px;
}

.carousel-indicators .active {
  background-color: #3a3d97;
}

label.error {
  /*  display: none !important;*/
}

#clients {
  /*background-color: #be1d7a;*/
  padding-bottom: 50px;
}

#floorplan {
  background-color: #edefee;
  padding-bottom: 50px;
}

#amenities .clients-inner h3.text-center.section-head {
  color: #7d1844;
}
.clients-inner h3.text-center.section-head {
  color: #fff;
}

.main p {
  color: #000;
  font-weight: 400;
  font-size: 17px;
  margin: 12px 0;
}

#gallery {
  /* padding: 50px 0; */
  margin: 0 auto;
  height: 480px !important;
}
#gallery .ug-button-tile-navigation.ug-button-tile-right {
  background-image: url(../img/arrowvioletright.webp) !important;
}
#gallery .ug-button-tile-navigation.ug-button-tile-left {
  background-image: url(../img/arrowvioletleft.webp) !important;
}

#ame-gallery .ug-button-tile-navigation.ug-button-tile-right {
  background-image: url(../img/arrowvioletright.webp) !important;
}
#ame-gallery .ug-button-tile-navigation.ug-button-tile-left {
  background-image: url(../img/arrowvioletleft.webp) !important;
}

section#Projecthighlights {
  padding: 70px 0;
}

.config-content h3 {
  color: #fff;
}

#amenities .ug-carousel-wrapper {
  border: 1px solid #b7b5b1;
}
.ug-carousel-wrapper {
  border: 1px solid #b7b5b1;
}

#Projecthighlights .container {
  background-color: #1a162f;
  padding-bottom: 25px;
}
.config-content {
  padding: 5px 48px;
  background-color: #fff;
}

.config-listing {
  padding: 5px 0;
}
.proj-block {
  margin: 15px 0;
  height: 70px;
}

.proj-img {
  width: 45px;
  padding: 10px 0;
}
.proj-txt {
  color: #fff;
  font-weight: 400;
  padding: 10px 0;
}

#location .section-head {
  padding: 0 0;
}

.location-amenities {
  padding: 0;
  margin: 0px auto;
}

.locationmap-rightblock {
  margin: 12px 0;
}
.locationmap-block {
  margin: 10px 0;
  height: 58px;
}
.locationmap-img {
  width: 50px;
  /* padding: 18px 0; */
  margin: 0px;
}
.location-txt {
  color: #fff;
  font-weight: 600;
  padding: 0;
  width: 80%;
  margin: 10px 0;
  /* text-align: justify; */
}

#call-number p {
  font-weight: bold;
  font-size: 16px;
  margin: 0px 0 6px;
  color: #fff;
}

#otpModal {
  left: 50%;
  margin-left: -160px;
  position: fixed;
  top: 30%;
  width: 320px;
  z-index: 9999999;
  display: none;
  /*z-index: 999*/
}
#otpModal::before {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  content: "";
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}
.otpModal {
  /*font-family: Raleway;*/
  text-align: center;
  border-radius: 3px;
  background-color: #1a162f;
  color: #fff;
  overflow: hidden;
}
.otpModalh2 {
  background-color: #eee;
  color: #eb313e;
  /*font-family: Raleway;*/
  font-size: 18px;
  margin: 0;
  padding: 7px 0;
}
.otpFormGroup {
  padding: 10px 20px 20px;
  background-color: #eee;
}
.inputWrapper > * {
  width: 46%;
  padding: 5px;
  text-align: center;
}
.inputWrapper > input {
  border: 1px solid #aaa;
  color: #333;
  float: left;
}
.inputWrapper button {
  border: 1px solid #4285f4;
  color: #4285f4;
  float: right;
  background-color: #fff;
}
.inputWrapper button i {
  font-size: 16px;
  margin-right: 5px;
}
.inputWrapper::after,
.inputWrapper::before {
  clear: both;
  content: "";
  display: table;
}
.inputWrapper {
  margin: 10px 0;
}
.otpFormGroup > input[type="submit"] {
  padding: 4px;
  text-transform: uppercase;
  width: 100%;
}
.otpFormGroup > label {
  color: #555;
  font-weight: normal;
}
.closeOtpModal {
  background-color: #eb313e;
  color: #fff;
  font-family: Arial;
  padding: 2px 15px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}
span.error {
  position: absolute;
  left: 8px;
  bottom: 50px;
  color: #eb313e;
  font-size: 11px;
}
.otpbtn {
  background: #e9532f;
  width: 100%;
  color: #fff;
  border: none;
  padding: 5px;
}
.otpFormGroup > label {
  color: #000;
  font-weight: bold;
  width: 100%;
  font-size: 13px;
  /* font-weight: normal; */
  text-align: center;
}

.error1 {
  position: relative;
  left: 0px;
  bottom: 0;
  color: red;
  font-size: 11px;
  width: 100%;
  text-align: left;
}

i.fa.fa-chevron-left {
  position: relative;
  top: 36%;
}
i.fa.fa-chevron-right {
  position: relative;
  top: 36%;
}

.ug-thumb-wrapper.ug-thumb-generated.ug-thumb-ratio-set.ug-thumb-selected {
  border: 2px solid #1a162f;
}

/*div#myCarouse2 {
    padding: 150px;
}
*/
div#myCarouse2 {
  padding-bottom: 65px;
  margin-top: 0px;
}

.nopadding {
  padding: 0;
}
/*#inquiryForm .col-sm-2 {
    width: 13%;
    }*/
#inquiryForm {
  background-color: #712c91;
  bottom: -18px;
  -webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.33);
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.33);
  padding: 2px 0;
  position: fixed;
  width: 100%;
  border-top: 1px solid #fff;
  z-index: 9999;
}

.inquireButton {
  background-color: #1a162f;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  bottom: 0;
  -webkit-box-shadow: 0 1 3px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0 1 3px rgba(0, 0, 0, 0.33);
  box-shadow: 0 1 3px rgba(0, 0, 0, 0.33);
  color: #fff;
  cursor: pointer;
  display: none;
  font-family: "Roboto Condensed";
  font-size: 18px;
  font-weight: 400;
  padding: 5px 20px;
  position: fixed;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  z-index: 1000;
  width: 100%;
}

.bannerpatch img.img-responsive {
  width: 280px;
  position: relative;
  bottom: 50px;
}
.fixedDiv {
  position: fixed;
}

.bannerpatch {
  position: absolute;
  top: 77px;
  left: 6px;
  text-transform: uppercase;
  z-index: 999;
  font-size: 15px;
  /* background: rgba(0,0,0,0.7); */
  color: #fff;
  text-align: center;
  padding: 6px;
  font-weight: 600;
  border-radius: 3px;
  /* border: 1px solid #fff; */
  /* -webkit-box-shadow: 0px 5px 5px -4px rgba(0,0,0,0.75); */
  -moz-box-shadow: 0px 5px 5px -4px rgba(0, 0, 0, 0.75);
  /* box-shadow: 0px 5px 5px -4px rgba(0,0,0,0.75); */
}
.navbar-default {
  background-color: #fff;
  position: fixed;
  margin-bottom: 0;
  /*height: 80px !important;*/
  box-shadow: 0px 4px 6px rgb(0 0 0 / 20%);
}
.nav > li > a {
  /* font-family: 'Open Sans', sans-serif; */
  font-family: "Lato", sans-serif;
  /* font-weight: bold; */
  color: #000 !important;
  padding: 0px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  /* border-bottom: 1px solid #000; */
  line-height: 30px;
}
.navbar-nav > li {
  padding: 25px 15px;
}
.navbar-brand {
  height: auto;
  padding: 0px 15px;
  width: 100%;
}
.navbar-brand > img {
  margin: 4px auto;
  padding-top: 0px;
  background: #fff;
  padding: 11px;
  box-shadow: 0px 4px 6px rgb(0 0 0 / 20%);
}
/*.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #333;
    background-color: transparent;
    border-bottom: 2px solid #ed1557;
}
.current a.smoothScroll {
    color: #fff !important;
    background: #53217a;
}
.current a.smoothScroll {
    color: #000;
    font-weight: bold;
}*/
.logomahindra {
  top: -24px;
  left: 30px;
}
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  margin-left: inherit;
  /*height: 200px;*/
  text-align: center;
  /*background-color: #000;*/
}
#dropdownMenuButton {
  background: inherit;
  color: #000;
  font-weight: bold;
  padding: 6px 12px;
  border-bottom: 1px solid #000;
  border-radius: inherit;
}
.dropdown-menu {
  background-color: #000;
  min-height: 100px;
  border-radius: inherit;
}
.dropdown-item {
  width: 100%;
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding: 4px 0;
  color: #fff;
}
.dropdown-menu {
  min-width: 120px;
}

.dropbtn {
  background-color: inherit;
  text-transform: uppercase;
  color: #000;
  padding: 4px 0;
  /*font-size: 16px;*/
  border-bottom: 1px solid #000;
  /*font-weight: bold;*/
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 1px solid #000;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 30px;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.add {
  padding: 21px;
  background: #fff;
  border-radius: 5px;
  height: 400px;
}
.add h3 {
  color: #000;
  text-transform: uppercase;
  font-family: "Playfair Display";
  text-align: justify;
  font-size: 21px;
}
.address p {
  color: #000;
  font-size: 12px;
  /* padding: 15px 0; */
  font-family: verdana;
  margin-bottom: 10px;
}

.footer_copy_right_text {
  display: inline-block;
  padding: 0px;
  margin: 0px;
  display: inline-block;
  font-family: "Lato";
  font-weight: 400;
  font-size: 0.98em;
  color: #fff;
  padding-left: 15px;
}
.clear_both {
  clear: both;
}
.footer_left_menu_anch {
  display: inline-block;
  font-family: "Lato";
  font-weight: 400;
  font-size: 0.98em;
  color: #fff;
  padding-right: 12px;
  padding-left: 12px;
  position: relative;
}
.footer_left_menu_anch::after {
  content: "|";
  right: 0px;
  position: absolute;
  padding: 0px;
  margin: 0px;
}

.dropdown-content a:hover {
  background-color: #000;
  color: #a68749;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: inherit;
}

#call-number {
  position: fixed;
  vertical-align: top;
  /* padding: 0 0 24px 0px; */
  right: 0;
  top: 10%;
  /* width: 280px; */
  z-index: 99;
}

.toll {
  background-color: #1a162f;
  color: #fff;
  right: 0;
  padding: 12px 15px;
  position: absolute;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  top: 50px;
  border: 1px solid #fff;
  border-radius: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  /* width: 200px; */
  z-index: 20;
  cursor: pointer;
}

.toll i.fa.fa-phone {
  font-size: 18px;
  margin-right: 0px;
  color: #fff;
}

#call-number .content {
  position: absolute;
  top: 54px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  display: inline-block;
  width: 239px;
  margin: 0 0 0 -8px;
  padding: 0 23px 0;
  vertical-align: top;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.33);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.33);
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

a.newmoodal {
  text-decoration: none;
  color: #1a162f;
  cursor: pointer;
}
#myModal h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  text-align: justify;
}

.circle {
  /*	border-radius: 50%;
	width: 180px;
	height: 180px;*/
  top: -35px;
  left: 80px;
  position: absolute;
  background: #fff;
  border: 2px solid #d2aa41;
}

img.left_loca_tion_img.deferload.hidden-xs.hidden-sm {
  width: 100%;
  /* border: 1px solid #040f51; */
  /* padding: 2px; */
}

/*Slider*/
#slider {
  position: relative;
}
.audio-toggle,
.play-pause-toggle {
  display: none !important;
}
.aslide {
  position: relative !important;
}
.carousel {
  position: relative;
  margin-top: 66px;
}
.carousel img {
  width: 100%;
}
.carousel2 img {
  /*width: 100%;*/
  margin: 0 auto;
}

/*About*/
#aboutUs {
  text-align: center;
  background: url(../img/overview.webp);
  height: 500px;
}
.about-inner {
  padding: 85px 0px 50px;
  height: 500px;
  background: #ffffff82;
}
.about-bg {
  background: url("../img/aboutus.webp");
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  margin: 40px 0;
}
.about-lamp {
  position: absolute;
  right: 0;
  top: 0;
}
.aboutus-block {
  background-color: rgba(68, 68, 68, 0.85);
  height: 450px;
  position: relative;
  left: 40px;
}
.about-content {
  margin: 32px;
}
#footer h6 {
  font-size: 10px;
  text-align: center;
  color: #fff;
  line-height: 1.4;
}
hr.overview-hr {
  width: 25%;
  margin-top: 5px;
  border-top: 2px solid #cacaca;
  margin-bottom: 35px;
}
hr.content-hr {
  width: 25%;
  margin-top: 0px;
  border-top: 2px solid #7d1844;
  margin-bottom: 0;
}

#footer h4 {
  text-align: center;
  font-weight: 500;
  color: #fff;
}
.about-content p {
  color: #fff;
  font-size: 13px;
  font-weight: 300;
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: "Montserrat", sans-serif;
  text-align: justify;
}
.about-bg {
  background: url(../img/aboutus.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  margin: 0px 0 !important;
}

.section-head {
  text-transform: uppercase;
  color: #1a162f;
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: "Montserrat", sans-serif;
  padding: 20px 0;
}
.underline1 {
  width: 200px;
  height: 1px;
  background-color: #fff;
  margin: 30px auto;
}
.dots {
  position: relative;
  top: -10px;
  left: 50px;
}

.dots li {
  display: inline-block;
  float: left;
  color: #fff;
}

/*HOH Adv*/
.hohAdv-inner h3.section-head {
  margin: 0;
}
.hohAdv-inner {
  padding: 30px 0px 60px;
}
.hohAdv-inner h4 {
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
}
.hohadv-content {
  text-align: center;
}
.hohadv-content img {
  margin: 0 auto;
}

/*Configuration*/
#configuration {
  background-color: #fff;
  padding: 60px 0px 30px;
}
table {
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: "Montserrat", sans-serif;
}
table td {
  width: 16%;
  color: #fff;
  font-weight: 600 !important;
  font-size: 14px;
}
table th {
  background: #be1d7a;
  color: #fff;
  font-size: 14px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 5px;
  border: 1px solid #be1d7a;
}
.config-img {
  position: absolute;
}
.config-img img {
  bottom: -86px;
  position: absolute;
  z-index: 999;
  width: 320px;
  left: -45px;
}

a.newtest {
  text-decoration: none;
  color: #fff;
}

.highlights {
  color: #fff;
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: "Montserrat", sans-serif;
  /*margin: 40px 0;*/
  margin-bottom: 20px;
  padding-left: 12px;
}
.highlights li {
  line-height: 1.9;
}
.table {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.config-listing {
  padding: 5px 0;
}

/*Amenities*/

.amenities-block {
  /*border-radius: 50%;
	border: 1px solid #000;*/
}
section {
  position: relative;
}
.ame-border {
  width: 100%;
  position: absolute;
  top: -45px;
  right: 25px;
}
.ame-head {
  width: 75%;
  text-align: right;
}

.amenities-circle {
  /*border-radius: 50%; */
  border: 1px solid #8a7a7a;
  width: 100px;
  height: 100px;
  background-color: #fff;
  text-align: center;
  margin: 0 auto;
}
.white {
  display: none;
}
.black {
  display: block;
}
.amenities-circle:hover .black {
  display: none;
}
.amenities-circle:hover .white {
  display: block;
  display: block;
  position: absolute;
  top: 0;
}
.amenities-circle:hover {
  background-color: #be1d7a;
}
.amenities-circle img {
  margin: 25px;
}
.amenities-container {
  padding: 45px 0;
}
.circle-block {
  /*margin-bottom: 25px;*/
  height: 180px;
}
.circle-block h4 {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 500;
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #fff;
}
.st0 {
}
.st0 {
  stroke-dasharray: 1000;
  /* stroke-dashoffset: 800; */
  animation: draw1 8s linear alternate;
}
@keyframes draw1 {
  from {
    stroke-dashoffset: 1200;
  }
  to {
    stroke-dashoffset: 600;
  }
}
.amenitieshead {
  position: relative;
  left: 5%;
  top: 350px;
}
.ame-section-head {
  text-transform: uppercase;
  font-size: 25px;
  color: #fff;
  font-weight: bold;
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: "Montserrat", sans-serif;
}
#myCarouse2 .carousel-inner {
  width: 75%;
  margin: 0 auto;
}

/*Floorplan*/
#floorplan {
  padding: 0px 0px 50px;
}

.nGY2 .nGY2GThumbnailImg {
  left: 0 !important;
}
.floor-lamp img {
  height: 450px;
}

/*Location*/
#location {
  /*background-color: #be1d7a;*/
  padding: 30px 0px 60px;
}
#ContactForm {
  background-color: #fff;
  padding: 20px;
  margin-top: 27px;
}
.form-control {
  border-radius: inherit;
  font-weight: 600;
}
.input-group {
  position: relative;
  display: table;
  text-align: center;
  margin: 4px auto;
  width: 100%;
}
.floor-lamp {
  position: absolute;
  right: 0;
  margin-top: -60px;
}
.floorplan-anchor {
  border: 1px solid #000 !important;
}

/*Gallery*/
#gallery {
  padding: 50px 0;
  margin: 0 auto;
}
.gal-bg {
  /*background: url('../img/gal-bg.webp');*/
  background-color: #3a3d97;
  background-size: cover;
  background-repeat: no-repeat;
  /*height: 450px;*/
}
.bg-overlay {
  /*background-color: rgba(0,0,0,0.85);*/
  background-size: cover;
  width: 100%;
}
.gal-block {
  padding: 60px 40px;
}
.gal-lamp {
  position: absolute;
  left: 5px;
  margin-top: -24px;
  /*z-index: 999999;*/
}
.gal-lamp img {
  width: 200px;
}

.gal-head {
  position: relative;
  /* bottom: 54%; */
  margin-top: 270px;
}
.gal-list {
  margin: 20px 0;
}
.gal-list img {
  border: 2px solid #fff;
}
.gal-date {
  font-size: 15px;
}

/*Address*/
#address {
  padding: 55px 0;
}
#address h5 {
  padding: 0;
}
#address p {
  font-size: 13px;
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: "Montserrat", sans-serif;
  padding: 0;
  text-align: center;
  margin: 0;
  font-weight: 400;
}

/*Footer*/

#footer h5 {
  padding: 0;
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: "Montserrat", sans-serif;
}

.maharera {
  text-align: center;
  font-size: 16px;
  color: #fff;
}
.maharera a {
  text-decoration: none;
  color: #fff;
}

/*Gallery Plugin*/
.demo-gallery > ul {
  margin-bottom: 0;
}
/*   .demo-gallery > ul > li {
                float: left;
                margin-bottom: 15px;
                margin-right: 20px;
                width: 200px;
                }*/
.demo-gallery > ul > li a {
  border: 1px solid #fff;
  border-radius: inherit;
  display: block;
  overflow: hidden;
  position: relative;
  /*float: left;*/
}
.demo-gallery > ul > li a > img {
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  /* height: 100%;
             width: 100%;*/
}
.demo-gallery > ul > li a:hover > img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}
.demo-gallery > ul > li a:hover .demo-gallery-poster > img {
  opacity: 1;
}
.demo-gallery > ul > li a .demo-gallery-poster {
  /*background-color: rgba(0, 0, 0, 0.1);*/
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: background-color 0.15s ease 0s;
  -o-transition: background-color 0.15s ease 0s;
  transition: background-color 0.15s ease 0s;
}
.demo-gallery > ul > li a .demo-gallery-poster > img {
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  border: none !important;
}
.demo-gallery > ul > li a:hover .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.7);
}
.demo-gallery .justified-gallery > a > img {
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  height: 100%;
  width: 100%;
}
.demo-gallery .justified-gallery > a:hover > img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}
.demo-gallery .justified-gallery > a:hover .demo-gallery-poster > img {
  opacity: 1;
}
.demo-gallery .justified-gallery > a .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: background-color 0.15s ease 0s;
  -o-transition: background-color 0.15s ease 0s;
  transition: background-color 0.15s ease 0s;
}
.demo-gallery .justified-gallery > a .demo-gallery-poster > img {
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}
.demo-gallery .justified-gallery > a:hover .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.5);
}
.demo-gallery .video .demo-gallery-poster img {
  height: 48px;
  margin-left: -24px;
  margin-top: -24px;
  opacity: 0.8;
  width: 48px;
}
.demo-gallery.dark > ul > li a {
  border: 3px solid #04070a;
}
.home .demo-gallery {
  padding-bottom: 80px;
}

/*Instant Form*/

label.error {
  color: red;
  font-size: 11px;
  font-weight: 600;
  /* margin: 0; */
  text-align: center;
  /* position: relative; */
  /* top: -4px; */
  left: 0;
}
.modal-header {
  border-bottom: 1px solid #3d1e19;
}

.spek_exprt {
  width: 250px;
  text-align: center;
  /*background-color: #DADADA;*/
  background-color: rgba(218, 218, 218, 0.87);
  padding: 10px;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
  position: RELATIVE;
  top: -160px;
  z-index: 50;
  border: 1px solid #fff;
}
.spek_exprt .btn-default,
#instant-callback-div .btn-default {
  width: 100% !important;
  background: #be1d7a;
  color: #fff;
  border-color: #be1d7a;
  /*  	-webkit-border-radius: 3px;
         	-moz-border-radius: 3px;
         	border-radius: 3px;*/
}
#instant-callback-div {
  /*font-family: 'Open Sans', Arial, sans-serif;*/
  position: fixed;
  vertical-align: top;
  /* padding: 0 0 24px 0px;*/
  right: -247px;
  top: 24%;
  /*width: 280px;*/
  height: 0;
  z-index: 9999999;
}
#instant-callback-div .form-control {
  height: 30px;
}
#instant-callback-div .input-group {
  margin: 2px auto;
}
#instant-callback-div .instant-switch {
  background: url(../img/handle-new.webp) no-repeat scroll 0 0;
  -webkit-box-shadow: -1px 0px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -1px 0px 3px rgba(0, 0, 0, 0.2);
  box-shadow: -1px 0px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: inline-block;
  height: 140px;
  vertical-align: top;
  width: 30px;
  /*border: 1px solid #fff;*/
  position: relative;
  /*-webkit-border-radius: 10px 0 0 10px;
         	-moz-border-radius: 10px 0 0 10px;
         	border-radius: 10px 0 0 10px;*/
}

#instant-callback-div .content-switcher {
  background-color: #fff;
  display: inline-block;
  width: 245px;
  margin: 0 0 0 -4px;
  padding: 0 16px 12px;
  vertical-align: top;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.33);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.33);
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
#instant-callback-div h4 {
  border-bottom: 1px solid #ededed;
  /*margin-bottom: 20px;*/
  padding-bottom: 15px;
  padding-top: 5px;
}
#instant-callback-div p {
  margin: 5px 0 !important;
  padding: 4px 0;
  font-size: 12px;
}

/*#instant-callback-div input {
    display: block;
    width: 90%;
    margin: 6px 0;
    border: 1px solid #CCC;
    padding: 6px 10px;
    }*/

#instant-callback-div input[type="submit"]:hover {
  background-color: #333;
  color: #fff;
}
#instant-callback-div input[type="submit"] {
  width: 100%;
}
#hide {
  background-color: #ffffff;
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0;
  height: 32px;
  position: absolute;
  right: 7px;
  top: 7px;
  width: 40px;
  cursor: pointer;
  font-size: 12px;
  line-height: 13px;
  margin-bottom: 0;
}
#hide img {
  opacity: 0.3;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
#hide img:hover {
  opacity: 0.7;
}

/*Popup Form*/

h3.modal-title {
  font-size: 16px;
  text-align: center;
  color: #1a162f;
  font-weight: bold;
}
#popupModal .modal-dialog {
  width: 40%;
}
#popupModal .modal-body {
  position: relative;
  padding: 40px;
}
#register-form .form-control {
  border-radius: inherit;
  font-weight: 600;
  background: #ddd0;
  color: #fff;
  border: 1px solid #000;
}
#register-form .input-group {
  position: relative;
  display: table;
  text-align: center;
  margin: 10px auto;
  width: 100%;
}
#popupModal .form-control {
  border-radius: inherit;
  font-weight: 600;
  background: #ddd0;
  color: #fff;
}
#popupModal ::placeholder {
  color: #fff !important;
}
#popupModal h3.modal-title {
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
}
#popupModal .modal-header {
  border-bottom: 1px solid #ffffff57;
}
#popupModal label.error {
  color: white;
}
#popupModal button#submitf,
#register button#submitf {
  background-color: #ee2d24;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.modal-content {
  border-radius: inherit;
}

/*Price Popup*/
.pricepop {
  color: #fff;
  text-decoration: none;
}
.pricepop:hover {
  text-decoration: none;
  color: #f7941d;
}

#price .modal-dialog {
  width: 40%;
}
#price .modal-body {
  position: relative;
  padding: 40px;
}
#price .form-control {
  border-radius: inherit;
  font-weight: 600;
  background: #ddd0;
  color: #fff;
}
#price ::placeholder {
  color: #fff !important;
}
#price h3.modal-title {
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
}
#price .modal-header {
  border-bottom: 1px solid #ffffff57;
}
#price label.error {
  color: white;
}
#price button#submitf {
  background-color: #be1d7a;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #7d1844;
}
#submitf {
  background-color: #be1d7a;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #fff;
}

#virtual .modal-dialog {
  width: 40%;
}
#virtual .modal-body {
  position: relative;
  padding: 40px;
}
#virtual .form-control {
  border-radius: inherit;
  font-weight: 600;
  background: #ddd0;
  color: #fff;
}
#virtual ::placeholder {
  color: #fff !important;
}
#virtual h3.modal-title {
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
}
#virtual .modal-header {
  border-bottom: 1px solid #ffffff57;
}
#virtual label.error {
  color: white;
}
#virtual button#submitf {
  background-color: #be1d7a;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #7d1844;
}

/*Book A site visit*/
#bookvisit {
  left: 25px;
  /* font-family: 'Open Sans', Arial, sans-serif; */
  position: fixed;
  vertical-align: top;
  /* padding: 0 0 24px 0px; */
  right: 0;
  bottom: 7px;
  /* width: 280px; */
  height: 28px;
  z-index: 1000;
}
#bookvisit .booksitevisit-switch {
  background: url(../img/handle3.webp) no-repeat scroll 0 0;
  -webkit-box-shadow: -1px 0px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -1px 0px 3px rgba(0, 0, 0, 0.2);
  box-shadow: -1px 0px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: inline-block;
  height: 36px;
  vertical-align: top;
  width: 170px;
  /*border: 1px solid #fff;*/
  position: relative;
}
.field {
  width: 100%;
  float: left;
  color: #000;
  padding: 10px 0;
  font-size: 15px;
}
.visit-time input,
.visit-date input {
  width: 30%;
  margin-right: 2%;
  padding: 6px;
  border: 1px solid #e3e3e3;
  color: #adadad;
  font-weight: 500;
}
.visit-time select {
  width: 30%;
  padding: 6px;
  border: 1px solid #e3e3e3;
  color: #adadad;
  font-weight: 500;
}

.carousel-caption {
  position: absolute;
  left: 0;
  right: 15%;
  bottom: 0;
  z-index: 10;
  padding-top: 0;
  padding-bottom: 0;
  color: #fff;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.carousel-control .fa-chevron-left,
.carousel-control .fa-chevron-right {
  width: 30px;
  height: 30px;
  margin-top: 85px;
  font-size: 30px;
}

/*Amenities*/

/*    .ug-thumb-selected::before{
        border-bottom: 1px solid blue;
        -webkit-box-shadow: 0 1px 0 0 red;
        -moz-box-shadow: 0 1px 0 0 red;
        box-shadow: 0 1px 0 0 red;
        content: "";
        margin: 0 auto; 
        position: absolute;
        top: 45%; left: 0; right: 0;
        width: 95%;
        z-index: -1;
    }
    */

.lg-outer.lg-pull-caption-up.lg-thumb-open .lg-sub-html {
  bottom: 100px;
}

.outer_sections {
  position: relative;
}

.outer_sections1 {
  position: relative;
}

.inner_section_desl_count {
  position: absolute;
  height: 100% !important;
  width: 100%;
  left: 0px;
  top: -140px;
  z-index: -1;
}
h1.proj_de_titl_left_cont1.text-center {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 26px !important;
  color: #000 !important;
  margin: 0px;
  padding: 0px;
  line-height: 1.2em;
  text-align: center;
}

.pro_new_de_lef_con_textdscr_inn {
  padding-top: 30px;
}

h1.proj_de_titl_left_cont1.text-center {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 26px !important;
  color: #000 !important;
  margin: 0px;
  padding: 0px;
  line-height: 1.2em;
  text-align: center;
}

h1.proj_de_titl_left_cont1.text-center {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 26px !important;
  color: #000 !important;
  margin: 0px;
  padding: 0px;
  line-height: 1.2em;
  text-align: center;
  text-transform: uppercase;
}

.clear_both20 {
  clear: both;
  height: 20px;
}

.proj_de_text_in_left_cont1 {
  font-style: normal;
  font-weight: 400 !important;
  font-size: 15px !important;
  color: #fff;
  text-align: center;
}
#footer {
  background-color: #000000;
  padding: 40px 20px;
  margin-bottom: 40px;
}
#footer p {
  margin-bottom: 5px;
  text-align: center;
  color: #fff;
}
#footer h5 {
  color: #fff !important;
  text-transform: none;
  font-size: 9px;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 500;
}
#inquiryForm .col-sm-2 {
  width: 13.4%;
}
span#txtCaptchaDiv3 {
  height: 34px;
  width: 61px;
}

.no-padding {
  padding: 0;
  margin: 0;
}

#captchatxt {
  border-radius: 5px;
}

.captchadiv {
  margin-top: 12px;
}

.new-int {
  position: fixed;
  right: 32px;
  bottom: 58px;
  background: #712c91;
  color: #fff;
  border: 2px solid #fff;
  font-size: 17px;
}

.new-int1 {
  position: fixed;
  left: 32px;
  bottom: 58px;
  background: #712c91;
  color: #fff;
  border: 2px solid #fff;
  font-size: 17px;
}

.thankimg {
  width: 100%;
  height: 405px;
}

.msgicon {
  height: 110px;
  width: 110px;
  border: 4px solid #fff;
  font-size: 35px;
  background: #79465e;
  color: #fff;
  border-radius: 50%;
  padding: 27px;
  text-align: center;
  margin: 0px auto;
  display: block;
}

.oops {
  text-align: center;
}

.go-home {
  display: block;
  margin: 20px auto;
  text-align: center;
  background: #79465e;
  color: #fff !important;
  width: 28%;
  padding: 10px;
  font-size: 19px;
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  .carousel-inner img {
    /* margin-top: 88px; */
  }

  .modal-dialog {
    margin-top: 7% !important;
    z-index: 9999 !important;
  }

  .modal-dialog {
    margin-top: 88px !important;
  }
  .her h3 {
    font-size: 15px;
  }
  .marq-wrap marquee {
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    line-height: 17px;
    margin-top: 8px !important;
  }
  .thankimg {
    width: 100%;
    height: 100%;
  }
  .go-home {
    display: block;
    margin: 20px auto;
    text-align: center;
    background: #79465e;
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
  }
}

.carousel-nav .owl-nav img {
  width: 35px;
  display: block;
  border: 2px solid;
  border-radius: 9px;
}

.carousel-nav .owl-nav .owl-prev:hover {
  background: transparent !important;
  border: 2px solid #222222 !important;
  cursor: pointer;
  transition: ease all 0.5s;
}

.carousel-nav .owl-nav .owl-next:hover {
  background: transparent !important;
  border: 2px solid #222222 !important;
  cursor: pointer;
  transition: ease all 0.5s;
}

.latest-post,
.latest-post-inner {
  min-height: 323px;
  max-height: 240px;
  margin-bottom: 30px;
}

.latest-post {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.latest-post-inner {
  padding: 50px 30px;
  position: relative;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  border: 2px solid #9b9b9b;
}

.latest-post .latest-post-inner span,
.latest-post .latest-post-inner a,
.latest-post .latest-post-inner p,
.latest-post .latest-post-inner i,
.latest-post .latest-post-inner .entry-author {
  color: #fff;
  position: relative;
}

.latest-post .latest-post-inner a:hover {
  color: rgba(255, 255, 255, 0.7);
}

.latest-post .latest-post-inner .latest-post-content {
  position: absolute;
  bottom: 30px;
}

.latest-post .latest-post-inner:before {
  content: "";
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  opacity: 1;
  background: transparent;
}

.latest-post .latest-post-inner .link-icon {
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  -webkit-transform: translate(-50%, -50%) scale(0);
  color: #fff;
  z-index: 999;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.latest-post .latest-post-inner .link-icon a {
  background-color: #493e3e;
  display: table;
  height: 50px;
  width: 50px;
  border-radius: 30px;
  text-decoration: none;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.latest-post .latest-post-inner .link-icon a i {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.latest-post .latest-post-inner .link-icon a:hover {
  background-color: rgba(73, 62, 62, 0.7);
  transform: scale(1.2);
  -webkit-transition: 300ms;
  transition: 300ms;
}

.latest-post .latest-post-inner:hover:before {
  opacity: 0;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.latest-post .latest-post-inner:hover .link-icon {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(1);
  -webkit-transition: 300ms;
  transition: 300ms;
}

.latest-post .latest-post-inner:hover {
  background-color: rgba(56, 55, 64, 0.57);
}

.sl-prev {
  display: block !important;
}

.sl-next {
  display: block !important;
}

#more6 {
  display: none;
}

.new-int-4 {
  position: fixed;
  right: -45px;
  background: #712c91;
  color: #fff;
  border: 2px solid #fff;
  font-size: 21px;
  top: 45%;
  transform: rotate(270deg);
}
.reg-title {
  font-size: 18px;
  background-color: #be1d7a;
  color: #fff;
  text-align: center;
  padding: 10px 0px;
  font-family: "HELVET18_2", sans-serif;
  /* margin: 20px 0px; */
}
